.sum {
  h2 {
    text-align: center;
  }
  &__total {
    text-align: center;
    margin-top: 30px;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    background: -webkit-linear-gradient(left, #2196f3, #0899b9);
    background: -o-linear-gradient(right, #2196f3, #0899b9);
    background: -moz-linear-gradient(right, #2196f3, #0899b9);
    background: linear-gradient(to right, #2196f3, #0899b9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &_note {
      text-align: center;
      margin-top: 12px;
    }
  }
}

@media screen and (max-width: 991px) {
  .sum {
    &__total {
      font-size: 36px;
    }
  }
}

@media screen and (max-width: 576px) {
  .sum {
    &__total {
      font-size: 28px;
    }
  }
}
